@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}

/* navbar */
nav{
    width: 100%;
    height: 78px;
    background: linear-gradient(178.96deg, #020074 9.73%, #7C0070 75.78%);
    display: flex;
    justify-content: center;
    transition: all 0.3s ease;
}

.navbar-container{
    width: 85%;
    height: 78px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.navbar-logo{
    color: rgba(255, 255, 255, 1);
    font-size: 32px;
    font-weight: 600;
}

.navbar-burger{
    display: none;
}

.navbar-links{
    display: flex;
    list-style: none;
}

.navbar-links a{
    color: rgba(255, 255, 255, 1);
    font-size: 18px;
    font-weight: 500;
    margin-left: 65px;
    text-decoration: none;
}

/* calculator-section */
.calculator{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator::before{
    content: "";
    background: url("./images/c-mo-saber-las-caracter-sticas-y-especificaciones-de-mi-celular-con-el-imei-o-los-ajustes\ 1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.calculator-container{
    width: 95%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 200px 0;
}

.calculator-container h1{
    color: rgba(2, 0, 116, 1);
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
}

.calculator-container p{
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 40px;
}

.calculator-input{
    display: flex;
    align-items: center;
}

.calculator-input input{
    border: none;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    height: 60px;
    padding-left: 20px;
    outline: none;
    width: 240px;
}

.calculator-input select{
    border: none;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    height: 60px;
    padding: 0 20px;
    width: 240px;
    color: gray;
    margin: 0 60px;
}

.calculator-input button{
    background: rgba(2, 0, 116, 1);
    color: rgba(255, 255, 255, 1);
    height: 60px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    width: 240px;
    font-weight: 600;
    border: none;
    font-size: 15px;
    letter-spacing: 1px;
    cursor: pointer;
}

/* calculation result section */
.calculation-result{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(223, 223, 223);
}

.calculation-result-container{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.calculation-result-container > h1{
    margin: 55px 0 38px 0;
    color: rgba(124, 0, 112, 1);
    font-size: 25px;
    text-align: center;
}

.calculation-result-container > p{
    text-align: center;
}

.calculation-result-content{
    width: 640px;
    display: flex;
    flex-direction: column;
    margin: 80px 0 50px 0;
}

.calculation-result-content-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.calculation-result-box{
    background-color: rgb(236, 236, 236);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 18px;
    width: 300px;
    border-radius: 5px;
}

.calculation-result-box > h1{
    margin: 10px 0;
}

.calculation-result-box > hr{
    width: 100%;
}

.calculation-result-box-container{
    width: 100%;
    margin-bottom: 20px;
}

.calculation-result-box-container > div{
    display: flex;
    justify-content: space-between;
    margin: 20px 0 30px 0;
}

.calculation-result-box-container > div > p{
    font-weight: 600;
}

.red-deduction{
    color: red;
}

.green-after-salary{
    color: rgb(0, 172, 0);
}

.calculation-details{
    width: 100%;
}

.calculation-details-box > h1{
    margin: 10px 0;
    text-align: center;
}

.calculation-details-box > hr{
    width: 100%;
}

.calculation-details-box{
    background-color: rgb(236, 236, 236);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 18px;
    width: 100%;
    border-radius: 5px;
    margin-top: 50px;
}

.calculation-details-box-container{
    width: 100%;
    margin-bottom: 20px;
}

.calculation-details-box-pair{
    background-color: rgb(245, 245, 245);
}

.calculation-details-box-pair > div{
    display: flex;
    justify-content: space-between;
    margin: 20px 0 30px 0;
}

.calculation-details-box-pair > div > p{
    font-weight: 600;
}

/* tax slab section */
.tax-slab{
    width: 100%;
    display: flex;
    justify-content: center;
}

.tax-slab-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tax-slab-container h1{
    margin: 55px 0 38px 0;
    color: rgba(124, 0, 112, 1);
    font-size: 25px;
}

.tax-slab-content{
    box-shadow: 5px 4px 4px rgba(0, 0, 0, 0.25);
}

.tax-slab-content p{
    margin: 0 0 30px 10px;
    font-weight: 400;
}

.tax-slab-list li{
    font-weight: 300;
    margin-bottom: 10px;
    list-style: none;
    display: flex;
}

.tax-slab-list li::before {
    content: "·";
    font-size: 120px;
    color: rgba(2, 0, 116, 1);
    vertical-align: middle;
    line-height: 10px;
}

/* contact section */
.contact{
    width: 100%;
    display: flex;
    justify-content: center;
}

.contact-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-container > h1{
    margin: 55px 0 38px 0;
    color: rgba(124, 0, 112, 1);
    font-size: 25px;
}

.contact-content{
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
}

.contact-content-container{
    width: 85%;
    max-width: 1337px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact-content::before{
    content: "";
    background: url("./images/05-Contact-Us\ 1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.contact-content-left h1{
    font-size: 25px;
    color: rgba(124, 0, 112, 1);
    margin-bottom: 20px;
    text-align: center;
}

.contact-content-left p{
    font-size: 18px;
}

.contact-content-right{
    height: 440px;
    width: 420px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 1);
    margin: 50px 0;
    box-shadow: 8px 4px 4px rgba(0, 0, 0, 0.25);
}

.contact-content-right input{
    padding-left: 20px;
    margin-top: 20px;
    height: 52px;
    width: 90%;
    border: 2px solid rgba(174, 174, 174, 0.92);
    outline: none;
    border-radius: 5px;
}

.contact-content-right input::placeholder{
    font-weight: 600;
}

.contact-content-right #query-input{
    padding: 0 0 120px 20px;
    margin-top: 20px;
    height: 160px;
    width: 90%;
    border: 2px solid rgba(174, 174, 174, 0.92);
    outline: none;
    border-radius: 5px;
}

.contact-content-right #query-input::placeholder{
    font-weight: 600;
}

.contact-content-right button{
    height: 52px;
    width: 90%;
    margin: 20px 0 15px 0;
    border: 2px solid rgba(71, 108, 238, 1);
    background-color: rgba(2, 0, 116, 1);
    color: rgba(255, 255, 255, 1);
    cursor: pointer;
    font-size: 18px;
    border-radius: 5px;
}

.about-us{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-us-container{
    max-width: 1337px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-us h1{
    margin: 70px 0 50px 0;
    color: rgba(124, 0, 112, 1);
    font-size: 25px;
}

.about-us-para{
    width: 90%;
    margin-bottom: 80px;
}

.about-us-para p{
    text-align: justify;
}

/* footer section */
.footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(180deg, #020074 0%, #7C0070 100%);
}

.footer-social-links{
    margin: 30px 0 10px 0;
    display: flex;
    justify-content: space-between;
    width: 140px;
}

.footer-social-links img{
    border: 7px solid rgba(255, 255, 255, 1);
    border-radius: 50%;
}

.footer p{
    font-weight: 600;
    color: rgba(255, 255, 255, 1);
    letter-spacing: 1px;
    text-align: center;
}

.footer-contact{
    margin: 10px 0 5px 0;
    border-bottom: 3px solid rgba(255, 255, 255, 1);
}

/* responsive */
@media only screen and (max-width: 1024px) {
    .calculator-input select{
        margin: 0 10px;
    }

    .contact-content-container{
        width: 90%;
    }

    .contact-content-left{
        width: calc(100% - 460px);
    }
}

@media only screen and (max-width: 768px){
    nav.active{
        height: 240px;
    }

    .navbar-links a{
        margin: 10px 0 0 0;
    }

    .navbar-links{
        display: none;
    }

    .navbar-links.active{
        display: flex;
        position: absolute;
        left: 0;
        top: 80px;
        flex-direction: column;
    }

    .navbar-burger{
        height: 18px;
        width: 25px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .navbar-burger div{
        height: 3px;
        width: 100%;
        background-color: rgba(255, 255, 255, 1);
    }

    .calculator-input{
        flex-direction: column;
    }

    .calculator-container{
        margin: 100px 0;
    }

    .calculator-input select{
        margin: 20px 0;
    }

    .calculator-container p{
        text-align: center;
    }

    .calculation-result-content{
        width: 100%;
        flex-direction: column;
    }

    .calculation-result-box{
        margin: 20px 0 0 0;
    }

    .contact-content-container{
        flex-direction: column;
        width: 90%;
    }

    .contact-content-right{
        width: 100%;
    }

    .contact-content-left{
        width: 100%;
    }

    .contact-content-left h1{
        margin-top: 20px;
    }

    .contact-content-left p{
        text-align: center;
    }
}